<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" 
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:insert="fragments :: headerFiles"><head th:insert="fragments :: headerFiles"></head>

<body>
    <header th:insert="fragments :: nav"></header>

    <div sec:authorize="hasRole('ROLE_Admin_cliente') || hasRole('ROLE_ADMIN')" class="container">
        <h1 class="text-center border border-success border-bottom  border-0"  th:text="${titulo2}"></h1>
        

        <table class="table table-dark">
            <thead>
                <tr>
                    
                    <th >Id</th>
                    <th >Nombre</th>
                    <th  >Apellido</th>
                    <th  >Email</th>
                    <th  >Fecha</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="cliente:${cliente}" th:if="${cliente}">
                    <td th:text="${cliente.id}"></td>
                    <td th:text="${cliente.nombre}"></td>
                    <td th:text="${cliente.apellido}"></td>
                    <td th:text="${cliente.email}"></td>
                    <td th:text="${cliente.createAt}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div sec:authorize="hasRole('ROLE_Admin_cliente') || hasRole('ROLE_ADMIN')" class="container">

        <h3 class="text-primary border border-success border-bottom  border-0" th:text="${titulo3}"></h3>
        <!-- 2 agregar lista de errores -->
        <!-- <div th:object="${cliente}">
            <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                <li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
            </ul>
        </div> -->

        <div class="card">
            <div class="card-header">
                <span>Roles</span>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a class="nav-link " th:classappend="${activeTab == 'ROLE_Cliente' ? 'active' : ''}" th:href="@{/editar(rol=ROLE_Cliente, id=${cliente.id})}">
                        <i class="fa-solid fa-user" >
                        </i> Cliente</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " th:classappend="${activeTab == 'ROLE_Admin_producto' ? 'active' : ''}" th:href="@{/editar(rol=ROLE_Admin_producto, id=${cliente.id})}">
                        <i class="fa-solid fa-user-plus"></i> Admin Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " th:classappend="${activeTab == 'ROLE_Admin_cliente' ? 'active' : ''}" th:href="@{/editar(rol=ROLE_Admin_cliente, id=${cliente.id})}">
                          <i class="fa-solid fa-user-plus"></i> Admin Clientes</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link " th:classappend="${activeTab == 'ROLE_ADMIN' ? 'active' : ''}" th:href="@{/editar(rol=ROLE_ADMIN, id=${cliente.id})}">
                          <i class="fa-solid fa-user-plus"></i>EL ADMIN</a>
                      </li>
                  </ul>
            </div>
            <div  class="card-body" >
                <div th:switch="${activeTab}">
                    <div th:case="'ROLE_Cliente'">
                        <div th:include=" fragments :: rolClienteE"></div>
                    </div>
                    <div th:case="'ROLE_Admin_producto'">
                        <div th:include="fragments :: rolAdminProductoE"></div>
                    </div>
                    <div th:case="'ROLE_Admin_cliente'">
                        <div th:include="fragments :: rolAdminClieteE"></div>
                    </div>
                    <div th:case="'ROLE_ADMIN'">
                        <div th:include="fragments :: rolAdminE"></div>
                    </div>
                </div>

            </div>
          </div>
      
    </div>

        <footer th:insert="fragments :: footer"></footer>
        <div th:insert="fragments :: scripts"></div>
    </div>
</body>

</html>