<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:insert="fragments :: headerFiles">
<body>

  <header th:insert="fragments :: nav"></header>

    <div class="container">
        <h1 class="text-center border border-success border-bottom  border-0"  th:text="${titulo}"></h1>
        

        <table class="table table-dark">
            <thead>
                <tr>
                  <th></th>
                  <th sec:authorize="hasRole('ROLE_Admin_cliente') || hasRole('ROLE_ADMIN')">Acciones</th>
                  <th></th>
                  <th></th>
                  <th th:text="${encab}"></th>
                  
                  
                </tr>
                <tr >
                    <th sec:authorize="hasRole('ROLE_Admin_cliente') || hasRole('ROLE_ADMIN')">Eliminar</th>
                    <th sec:authorize="hasRole('ROLE_Admin_cliente') || hasRole('ROLE_ADMIN')">Actualizar</th>
                    <th sec:authorize="hasRole('ROLE_Admin_cliente') || hasRole('ROLE_ADMIN')">Realizar compra</th>
                    <th >Id</th>
                    <th >Nombre</th>
                    <th >Apellido</th>
                    <th  >Email</th>
                    <th  >Fecha</th>
                    <th>Roles</th>
                    <th sec:authorize="hasRole('ROLE_Admin_cliente') || hasRole('ROLE_ADMIN')">Activo</th>
                </tr>
                
            </thead>
            <tbody>
                <tr th:each="cliente:${cliente}">
                    <td sec:authorize="hasRole('ROLE_Admin_cliente') || hasRole('ROLE_ADMIN')">
                      <div class="d-flex gap-2 justify-content-center">
                        <a th:href="@{/eliminar(id=${cliente.id})}" class="btn btn-danger rounded-pill px-3">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                          </svg>
                      </a>
                      </div>
                    </td>
                    <td sec:authorize="hasRole('ROLE_Admin_cliente') || hasRole('ROLE_ADMIN')">
                      <div class="d-flex gap-2 justify-content-center">
                        <a th:href="@{/editar(id=${cliente.id}, rol=${cliente.rolesss})}" class="btn btn-secondary rounded-pill px-3">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-up-left" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M9.636 13.5a.5.5 0 0 1-.5.5H2.5A1.5 1.5 0 0 1 1 12.5v-10A1.5 1.5 0 0 1 2.5 1h10A1.5 1.5 0 0 1 14 2.5v6.636a.5.5 0 0 1-1 0V2.5a.5.5 0 0 0-.5-.5h-10a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h6.636a.5.5 0 0 1 .5.5"/>
                              <path fill-rule="evenodd" d="M5 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1H6.707l8.147 8.146a.5.5 0 0 1-.708.708L6 6.707V10.5a.5.5 0 0 1-1 0z"/>
                          </svg>
                      </a>
                      </div>
                    </td>
                    <td sec:authorize="hasRole('ROLE_Admin_cliente') || hasRole('ROLE_ADMIN')">
                      <div class="d-flex gap-2 justify-content-center">
                        <a th:href="@{/compras(cliente_id=${cliente.id})}" class="btn btn-warning rounded-pill px-3">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
                            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                          </svg>
                      </a>
                      </div>
                    </td>
                    <td th:text="${cliente.id}"></td>
                    <td th:text="${cliente.nombre}"></td>
                    <td th:text="${cliente.apellido}"></td>
                    <td th:text="${cliente.email}"></td>
                    <td th:text="${cliente.createAt}"></td>
                    <td th:text="${cliente.rolesss}"></td>
                    <td sec:authorize="hasRole('ROLE_Admin_cliente') || hasRole('ROLE_ADMIN')" th:text="${cliente.status}"></td>
                </tr>
            </tbody>
           
        </table>
        <div class="col-lg-6 col-xxl-4 my-5 mx-auto">
          <div sec:authorize="hasRole('ROLE_Admin_cliente') || hasRole('ROLE_ADMIN')" class="">
            <a th:href="@{/form}" class="btn btn-success rounded-pill px-10" th:if="${cliente}">Crear nuevo cliente</a>
          </div>
        </div>
        
        
    </div>
    <footer th:insert="fragments :: footer"></footer>
    <div th:insert="fragments :: scripts"></div>
</body>

</html>