<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security"     >

<head th:insert="fragments :: headerFiles">

</head>

<body>
  <header th:insert="fragments :: nav"></header>

    <div class="container">

      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Pagina no encontrada 404</h1>
          <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
      </div>

    </div>


    <footer th:insert="fragments :: footer"></footer>
    <div th:insert="fragments :: scripts"></div>


</body>

</html>